

.card:hover {
    border: solid 1px #0d6efd;
    background-color: #0d6dfd4f;
    cursor: pointer;
  }




.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

  .blurred {
    filter: blur(20px); /* You can adjust the blur amount as needed */
  -webkit-filter: blur(20px);
  }


